.main{
    height: 100vh auto;
    background-image: url("https://backiee.com/static/wallpapers/1000x563/282395.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}

.a{
    color: white;
}

.conteudoMain{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.card{
    background-color: aliceblue;
    width: 250px;
    height: 400px;
    margin: 80px 80px 80px 10px;
}