.main{
    height: 100vh;
    background-image: url("https://backiee.com/static/wallpapers/1000x563/282395.jpg");
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
}


.conteudoMain{
    background-color: red;
}